<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<title>Twittter clone design</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="The HTML5 Herald" />
		<meta name="shloch-bella" content="Twitter" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
			integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="assets/styles/index.css" />
	</head>

	<body>
		<div class="container">
			<div class="row">
				<!--Left Menu block-->
				<div class="col-lg-3 col-md-1 col-2"><%- include ("leftPanel") %></div>

				<!--middle block-->
				<div class="col-lg-6 col-md-11 col-10">
					<main>
						<div class="first-part">
							<div><a class="home">Home</a></div>
							<div><i class="far fa-star"></i></div>
						</div>
						<div class="whats-happening">
							<form action="/create" method="POST">
								<div
									class="post-blocks"
									style="
										background-image: url('<%= user.backgroundPhoto %>');
										object-position: 10% 50%;
									"
								>
									<div class="post-profile">
										<p>BackgroundPhoto</p>
									</div>
									<div class="post-profile">
										<img
											src="<%= user.photo %> "
											class="avatar"
											alt="Avatar"
										/>
									</div>
									<%if (loggedUser&&loggedUser.id !== user.id) {%>
									<!-- aa -->
									<% if(!loggedUser.following.some(arrVal => user.id===
									arrVal.toString() )){%>
									<a href="/follow/<%= user.id %>">Follow</a>
									<%}else{%>
									<a href="/unfollow/<%= user.id %>">Unfollow</a>
									<%}%><%}%>
								</div>
								<div class="post-icons">
									<div class="second-post-icons">
										<i class="far fa-circle"></i>
										<i class="fas fa-plus-circle"></i>
										<a href="/userUpdate/<%= user.id %>"
											>Edit Profile</a
										>
										<span>
											seguidores <%= user.followers.length %>
										</span>
									</div>
								</div>
							</form>
						</div>
					</main>

					<!--TWEEEEEETS-->
					<section id="tweets">
						<!--1 tweet-->
						<% tweets.forEach(tweet => { %>

						<div class="tweet-1">
							<div class="tweet-img">
								<img src="<%=tweet.author.photo%>" alt="Avatar" />
							</div>
							<div class="tweet-txt">
								<div class="tweet-name-date">
									<strong> <%=tweet.author.firstname%></strong>
									<span class="twitter-account">
										@<%=tweet.author.username%></span
									>
									-
									<span class="date"
										><% if
										(!moment(tweet.date).isBefore(moment().startOf("day")))
										{ %> <%= moment(tweet.date, "YYYYMMDD").fromNow();
										%> <% } else { %> <%= moment(tweet.date ,
										"YYYYMMDD").format("MMM Do YY"); %> <% } %>
									</span>
								</div>
								<div class="message"><%= tweet.content %></div>
								<div class="tweet-icons">
									<i class="far fa-comment"></i>
									<i class="fas fa-retweet"></i>
									<%if (loggedUser) {%> <%
									if(!loggedUser.tweetsLiked.some(arrVal => tweet.id===
									arrVal.toString() )){%>
									<a href="/like/<%=tweet.id%>"
										><i class="far fa-heart">
											<%= tweet.likes %></i
										></a
									><%}else{%>
									<a href="/unlike/<%=tweet.id%>"
										><i class="fas fa-heart"><%= tweet.likes %></i></a
									>
									<%}%><%}else{%><i class="fas fa-heart"
										>    <%= tweet.likes %></i
									><% }%>
									<i class="fas fa-external-link-alt"></i>
								</div>
							</div>
						</div>
						<% }) %>
						<!--1 tweet-->
					</section>
				</div>

				<!--Right  block-->
				<div class="col-lg-3 d-none d-lg-block" id="rightBlock">
					<!--search-->
					<div class="search">
						<form>
							<input type="search" placeholder="search twitter" results />
						</form>
					</div>
					<br />
					<!--proposed profiles-->
					<div class="other-profiles">
						<div class="heading">
							<h5>Who to follow</h5>
						</div>
						<div class="profile-1">
							<div class="profile-img">
								<img
									src="assets/images/img_avatar2.png"
									class="avatar"
									alt="Avatar"
								/>
							</div>
							<div class="profile-name">
								CTE Magazine <br />
								<span class="twitter-account">@CTEMagPlus</span>
							</div>
							<div class="follow-btn"><button>Follow</button></div>
						</div>
						<div class="profile-1">
							<div class="profile-img">
								<img
									src="assets/images/img_avatar.png"
									class="avatar"
									alt="Avatar"
								/>
							</div>
							<div class="profile-name">
								CTE Magazine <br />
								<span class="twitter-account">@CTEMagPlus</span>
							</div>
							<div class="follow-btn"><button>Follow</button></div>
						</div>
						<div class="profile-1">
							<div class="profile-img">
								<img
									src="assets/images/img_avatar2.png"
									class="avatar"
									alt="Avatar"
								/>
							</div>
							<div class="profile-name">
								CTE Magazine <br />
								<span class="twitter-account">@CTEMagPlus</span>
							</div>
							<div class="follow-btn"><button>Follow</button></div>
						</div>
						<div class="heading">
							<a href="#">Show more</a>
						</div>
					</div>
					<br />

					<div id="policy">
						<span
							><strong>Design:</strong>
							<a href="www.twitter.com/shloch">@shloch</a> +
							<a href="www.twitter.com/belle_agbor">@belle_agbor</a> </span
						><br />
						<span
							><strong>Backend:</strong>
							<a href="www.twitter.com/shloch">@shloch</a> +
							<a href="www.twitter.com/truetech_code"
								>@truetech_code</a
							> </span
						><br />
						<span>CopyRights 2019</span><br />
						<span>Github: www.xxxx.xxx</span>
					</div>
					<br />
				</div>
			</div>
		</div>

		<footer></footer>
		<script
			src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"
		></script>
	</body>
</html>
